<!DOCTYPE html>
<html>
<head>
    <title>Contact Menu</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
            background-color: #D3D3D3;
        }

        .header {
            color: DarkBlue;
            font-size: 24px;
            margin-top: 100px;
        }

        .message {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="header">Contact List Menu:</div>
    <div class="message">
        <p>Select which function you will like to perform on the contact list.</p>
	<p><a href="{% url 'create_contact' %}">Create a New Contact</a></p>
	<p><a href="{% url 'read_contact' %}">Read a Contact</a></p>
	<p><a href="{% url 'update_contact' %}">Update a Contact</a></p>
	<p><a href="{% url 'delete_contact' %}">Delete a Contact</a></p>
    </div>
</body>
</html>

